<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TambahStaf</servlet-name>
        <servlet-class>MengelolaPengguna.TambahStaf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahCustomer</servlet-name>
        <servlet-class>MengelolaPengguna.TambahCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahAkun</servlet-name>
        <servlet-class>MelakukanRegistrasi.TambahAkun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAkun</servlet-name>
        <servlet-class>MengubahInformasiPengguna.UpdateAkun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusStaff</servlet-name>
        <servlet-class>MengelolaPengguna.HapusStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>MengelolaPengguna.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusCustomer</servlet-name>
        <servlet-class>MengelolaPengguna.HapusCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfilHotel</servlet-name>
        <servlet-class>MengubahProfilHotel.EditProfilHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAcco</servlet-name>
        <servlet-class>MengelolaLayanan.EditAcco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHall</servlet-name>
        <servlet-class>MengelolaLayanan.EditHall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServ</servlet-name>
        <servlet-class>MengelolaLayanan.EditServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestReservasi.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusAcco</servlet-name>
        <servlet-class>MengelolaLayanan.HapusAcco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusHall</servlet-name>
        <servlet-class>MengelolaLayanan.HapusHall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusServ</servlet-name>
        <servlet-class>MengelolaLayanan.HapusServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>MengelolaPengguna.EditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahKeranjang</servlet-name>
        <servlet-class>ReservationServlet.TambahKeranjang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KelolaPembayaran</servlet-name>
        <servlet-class>MengelolaPembayaran.KelolaPembayaran</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TambahStaf</servlet-name>
        <url-pattern>/MengelolaPengguna/TambahStaf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahCustomer</servlet-name>
        <url-pattern>/MengelolaPengguna/TambahCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahAkun</servlet-name>
        <url-pattern>/MelakukanRegistrasi/TambahAkun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAkun</servlet-name>
        <url-pattern>/MengubahInformasiPengguna/UpdateAkun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/MengelolaPengguna/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusCustomer</servlet-name>
        <url-pattern>/MengelolaPengguna/HapusCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfilHotel</servlet-name>
        <url-pattern>/backend/EditProfilHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestReservasi/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusAcco</servlet-name>
        <url-pattern>/MengelolaLayanan/HapusAcco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusHall</servlet-name>
        <url-pattern>/MengelolaLayanan/HapusHall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusServ</servlet-name>
        <url-pattern>/MengelolaLayanan/HapusServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusStaff</servlet-name>
        <url-pattern>/MengelolaPengguna/HapusStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/MengelolaPengguna/EditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAcco</servlet-name>
        <url-pattern>/MengelolaLayanan/EditAcco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHall</servlet-name>
        <url-pattern>/MengelolaLayanan/EditHall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServ</servlet-name>
        <url-pattern>/MengelolaLayanan/EditServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahKeranjang</servlet-name>
        <url-pattern>/TambahKeranjang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KelolaPembayaran</servlet-name>
        <url-pattern>/MengelolaPembayaran/KelolaPembayaran</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
