/*CSS*/

body {
    margin-top: 49px;
    padding: 0;
    background: #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #BBBBBB;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
    color: #48ACDE;
}

h1 {
    letter-spacing: -1px;
    font-size: 32px;
}

h2 {
    font-size: 23px;
}

p, ul, ol {
    margin: 0 0 2em 0;
    text-align: justify;
    line-height: 26px;
}

a:link {
    color: #48ACDE;
}

a:hover, a:active {
    text-decoration: none;
    color: #48ACDE;
}

a:visited {
    color: #48ACDE;
}

img {
    border: none;
}

img.left {
    float: left;
    margin-right: 15px;
}

img.right {
    float: right;
    margin-left: 15px;
}

/* Form */
form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: none;
}

input, textarea, select {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
}
form label {
    float: left;
    padding: 3px 7px 3px 3px;
    text-align: right;
    font-size: 14px;
    width: 130px;
}

.flabel {
    float: left;
    padding: 3px 7px 3px 3px;
    text-align: right;
    width: 100px;
}

br {
    clear: right;
}

form .input_text{
    width: 200px;
    padding: 1px 3px;
}

form .select{
    width: 210px;
    padding: 1px 3px;
}

form .message{
    width: 200px;
    height: 70px;
    padding: 1px 3px;
    overflow: auto;
}

form .button{
    padding: 5px 5px;
    margin: 5px 5px;
    border-style: outset;
    border-color: #BBBBBB;
    background-color: #48ACDE;
    color: #000000;
}
/* Header */

#header {
    clear: both;
    width: 860px;
    height: 52px;
    margin: 0 auto;
    background: url(images/img02.jpg) no-repeat left top;
}

/* Menu */
#menu {
    float: left;
    width: 860px;
    height: 54px;
    padding-left: 10px;
    background: url(images/img01.jpg) no-repeat left top;
}

#menu ul {
    margin: 0;
    padding: 0px 0 0 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    display: block;
    float: left;
    margin-right: 3px;
    padding: 10px 20px;
    text-decoration: none;

    font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

#menu a:hover { 
    text-decoration: none;
    color: #48ACDE;
}

#menu .current_page_item a {
    color: #48ACDE;
}

/*FMENU*/
#fmenu {
    border-bottom: 1px solid #48ACDE;
    margin: 0;
    padding-bottom: 19px;
    padding-left: 10px;
}
#fmenu ul,#fmenu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#fmenu a:link{
    /*background: #E8EBF0;*/
    border: 1px solid #ccc;
    color: #666;
    float: left;
    font-size : small;
    font-weight : normal;
    line-height : 14px;
    margin-right : 8px;
    padding : 2px 10px 2px 10px;
    text-decoration : none;
}
/*#fmenu a:link.active, #fmenu a:visited.active {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #666;
}*/
#fmenu a:hover {
    color: #ff0;
}

/** LOGO */
#logo {
    width: 820px;
    height: 60px;
    margin: 0 auto;
}

#logo h1, #logo h2 {
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
    line-height: normal;
}

#logo h1 { 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:36px;
    font-style: italic;
}

#logo h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
    padding: 20px 0 0 5px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    color: #48ACDE;
}

#logo p a {
    text-decoration: none;
    color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }


#wrapper {
    width: 1150px;
    margin: 0 auto;
    background: #000000 url(images/img02.jpg) no-repeat left top;
}

#wrapper-btm {
    background: url(images/img03.jpg) no-repeat left bottom;
}
/* Page */

#page {
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
}

/* Content */

#content {
    float: right;
    clear: none;
    width: 900px;
    border: 2px dotted #333333;
    margin-right: 10px;
    padding:10px;
    overflow: visible;
}

/* Post */
.post {
    padding: 15px 15px;
}

.post .title {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.post h1 {
}

.post h2 {
    height: 32px;
    padding: 8px 0 0 15px;
    font-size: 18px;
    color: #DADADA;
}

.post .entry {
    padding: 0 15px;
}

.post .meta {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0px 30px 0px;
    border-top: 1px dashed #333333;
    font-size: 10px;
}

.post .meta p {
    margin: 0;
    line-height: normal;
    color: #999999;
}

.post .meta .byline {
    float: left;
}

.post .meta .links {
    float: right;
}

.post .meta .more {
    padding: 0 20px 0 18px;
    background: url(images/img11.gif) no-repeat left center;
}

.post .meta .comments {
    padding-left: 22px;
    background: url(images/img12.gif) no-repeat left center;
}

.post .meta b {
    display: none;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 150px;
    padding-left: 30px;
    background-color:#242424;
    margin-left: 20px;
    color:#FFFFFF;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin-bottom: 5px;
    position: relative;
    left: 10px;
}

#sidebar-title {
    border-bottom: 2px double #333333;
}

#sidebar li ul {
}

#sidebar li li {
    margin: 0;
}

#sidebar h2 {
    height: 32px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFFFFF;
}

/* Footer */
#footer-wrap {
    width: 860px;
    height: 64px;
    margin: 0 auto;
}

#footer {
    margin: 0 auto;
    height: 64px;
    min-height: 64px;
    padding: 0;
    font-size: 10px;
}

html>body #footer {
    height: auto;
}

#footer p {
}

#legal {
    clear: both;
    padding-top: 10px;
    padding-left: 30px;
    text-align: center;
    color: #999999;
}

#legal a {
}

table {
    vertical-align: 0%;
}

th {
    /*max-width: 50px;*/
}

td textarea {
    min-width: 40px;
}

/* error_msg */
.error_msg {
    font-family:sans-serif;
    font-style: italic;
    background:red;
    color:yellow;
}