<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TambahStaf</servlet-name>
        <servlet-class>MengelolaPengguna.TambahStaf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallReservationAjax</servlet-name>
        <servlet-class>ReservationServlet.HallReservationAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahCustomer</servlet-name>
        <servlet-class>MengelolaPengguna.TambahCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahAkun</servlet-name>
        <servlet-class>MelakukanRegistrasi.TambahAkun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAkun</servlet-name>
        <servlet-class>MengubahInformasiPengguna.UpdateAkun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusStaff</servlet-name>
        <servlet-class>MengelolaPengguna.HapusStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>MengelolaPengguna.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusCustomer</servlet-name>
        <servlet-class>MengelolaPengguna.HapusCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfilHotel</servlet-name>
        <servlet-class>MengubahProfilHotel.EditProfilHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestReservasi.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>MengelolaPengguna.EditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahKeranjang</servlet-name>
        <servlet-class>ReservationServlet.TambahKeranjang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KelolaPembayaran</servlet-name>
        <servlet-class>MengelolaPembayaran.KelolaPembayaran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahRoomInd</servlet-name>
        <servlet-class>MengelolaLayanan.TambahRoomInd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomInd</servlet-name>
        <servlet-class>MengelolaLayanan.EditRoomInd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusRoomInd</servlet-name>
        <servlet-class>MengelolaLayanan.HapusRoomInd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahLayout</servlet-name>
        <servlet-class>MengelolaLayanan.TambahLayout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusLayout</servlet-name>
        <servlet-class>MengelolaLayanan.HapusLayout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLayout</servlet-name>
        <servlet-class>MengelolaLayanan.EditLayout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahVenue</servlet-name>
        <servlet-class>MengelolaLayanan.TambahVenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusVenue</servlet-name>
        <servlet-class>MengelolaLayanan.HapusVenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVenue</servlet-name>
        <servlet-class>MengelolaLayanan.EditVenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>ReservationServlet.ReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationAjax</servlet-name>
        <servlet-class>ReservationServlet.ReservationAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestStatistik</servlet-name>
        <servlet-class>TestStatistik.TestStatistikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatistikServlet</servlet-name>
        <servlet-class>Statistik.StatistikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequesterStatistik</servlet-name>
        <servlet-class>Statistik.RequesterStatistik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonsFileUploadServlet</servlet-name>
        <servlet-class>MengubahProfilHotel.CommonsFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallReservationAjaxBack</servlet-name>
        <servlet-class>MengelolaReservasi.HallReservationAjaxBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHallReservation</servlet-name>
        <servlet-class>MengelolaReservasi.AddHallReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadRoomServlet</servlet-name>
        <servlet-class>MengelolaLayanan.UploadRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServiceServlet</servlet-name>
        <servlet-class>MengelolaLayanan.UploadServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVenueServlet</servlet-name>
        <servlet-class>MengelolaLayanan.UploadVenueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TambahAkun</servlet-name>
        <url-pattern>/MelakukanRegistrasi/TambahAkun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAkun</servlet-name>
        <url-pattern>/MengubahInformasiPengguna/UpdateAkun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfilHotel</servlet-name>
        <url-pattern>/backend/EditProfilHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestReservasi/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/MengelolaPengguna/EditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallReservationAjax</servlet-name>
        <url-pattern>/HallReservationAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahStaf</servlet-name>
        <url-pattern>/backend/TambahStaf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahCustomer</servlet-name>
        <url-pattern>/backend/TambahCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/backend/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahKeranjang</servlet-name>
        <url-pattern>/TambahKeranjang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KelolaPembayaran</servlet-name>
        <url-pattern>/backend/payment_manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahRoomInd</servlet-name>
        <url-pattern>/backend/room_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomInd</servlet-name>
        <url-pattern>/backend/room_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusRoomInd</servlet-name>
        <url-pattern>/backend/room_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahLayout</servlet-name>
        <url-pattern>/backend/layout_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusLayout</servlet-name>
        <url-pattern>/backend/layout_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLayout</servlet-name>
        <url-pattern>/backend/layout_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahVenue</servlet-name>
        <url-pattern>/backend/venue_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusVenue</servlet-name>
        <url-pattern>/backend/venue_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVenue</servlet-name>
        <url-pattern>/backend/venue_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusStaff</servlet-name>
        <url-pattern>/backend/HapusStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusCustomer</servlet-name>
        <url-pattern>/backend/HapusCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationAjax</servlet-name>
        <url-pattern>/ReservationAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestStatistik</servlet-name>
        <url-pattern>/TestStatistik/StatistikServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatistikServlet</servlet-name>
        <url-pattern>/backend/generator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequesterStatistik</servlet-name>
        <url-pattern>/backend/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonsFileUploadServlet</servlet-name>
        <url-pattern>/backend/CommonsFileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallReservationAjaxBack</servlet-name>
        <url-pattern>/backend/HallReservationAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHallReservation</servlet-name>
        <url-pattern>/backend/hall_reservation_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadRoomServlet</servlet-name>
        <url-pattern>/backend/UploadRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServiceServlet</servlet-name>
        <url-pattern>/backend/UploadServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVenueServlet</servlet-name>
        <url-pattern>/backend/UploadVenueServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
