<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="AvatarPersistenceUnit" transaction-type="JTA">
    <jta-data-source>AvatarJNDI</jta-data-source>
    <class>AvatarEntity.HotelInfo</class>
    <class>AvatarEntity.Accomodation</class>
    <class>AvatarEntity.Hall</class>
    <class>AvatarEntity.HallReservation</class>
    <class>AvatarEntity.Layout</class>
    <class>AvatarEntity.OtherServices</class>
    <class>AvatarEntity.OtherServicesReservation</class>
    <class>AvatarEntity.ReservationItem</class>
    <class>AvatarEntity.Room</class>
    <class>AvatarEntity.Staff</class>
    <class>AvatarEntity.Telephone</class>
    <class>AvatarEntity.Venue</class>
    <class>AvatarEntity.VenueLayout</class>
    <class>AvatarEntity.Customer</class>
    <class>AvatarEntity.Payment</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
